<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ServerIp" value="0.0.0.0"/>
        <add key="ServerPort" value="55556"/>
    </appSettings>
    
    <connectionStrings>
        <add name="SqliteConnection"
             providerName=""
             connectionString="Data Source=/Users/rzv/remote/mpp-proiect-csharp-rzv1/Server/sqlite.db"
             />
    </connectionStrings>
</configuration>